<div class="container">
   <div class="container-header">
      <h1>Flight Simulator</h1>
      <h2>Current Flight Status</h2>
      <p>{{message}}</p>
      <h2>Shuttle Trajectory</h2>
   </div>
   <div class="row justify-content-center">
      <div class="col-3">
         <div class="container-left">
            <h3>Fuel Levels</h3>
            <p>Tank Full</p>
            <h3>Astronaut Chat</h3>
            <p>Houston, we are ready when you are!</p>
         </div>
      </div>

      <div class="col-6">
         <div class="shuttle-background" [style.backgroundColor]="color">
            <img #rocketImg src="assets/images/LaunchCode_rocketline_white.png" height = "75" width = "75" [style.left]="0" [style.bottom]="0"/>
         </div>
      </div>

      <div class="col-3">
         <div class="container-right"b *ngIf="hasTakenOff">
            <button (click)="moveRocket(rocketImg, 'up')" [disabled]="canMove">Up</button>
            <button (click)="moveRocket(rocketImg, 'down')" [disabled]="canMove">Down</button>
            <button (click)="moveRocket(rocketImg, 'right')" [disabled]="canMove">Right</button>
            <button (click)="moveRocket(rocketImg, 'left')" [disabled]="canMove">Left</button>
            <h3>Space Shuttle Height</h3>
            <p>{{height}} km</p>
            <h3>Space Shuttle Width</h3>
            <p>{{width}} km</p>
         </div>
      </div>
   </div>
   <div class="container-control-buttons">
      <button (click)="takeOff(rocketImg)">Take Off</button>
      <button (click)="landIt(rocketImg)" [disabled]="!hasTakenOff">Land</button>
      <button (click)="abort(rocketImg)" [disabled]="!hasTakenOff">Abort Mission</button>
   </div>
</div>